.quiz-home-container {
    margin-top: 4rem;
    flex-grow: 1;
  }
  
  .home-img {
    height: 24rem;
    width: 24rem;
    /* Remove any border styling */
    border: none;
  }
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-text {
    line-height: 2.5rem;
    text-align: left;
  }
  
  .home-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .link-btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--md-blue);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .link-btn:hover {
    background-color: var(--dark-blue);
  }
  
  .footer {
    margin-top: 3rem;
    border-top: 0.01px solid var(--borderGrey);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem 0.5rem;
  }
  
  .icon-bar {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 550px) {
    body {
      width: 100%;
      font-size: 80%;
    }
  
    .navbar {
      padding: 1rem 0.5rem;
    }
  
    .home-img {
      width: 15rem;
      height: 15rem;
    }
  
    .main-header {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  
    .home-text {
      text-align: center;
    }
  
    .home-text h1 {
      padding-bottom: 1rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
  
    .home-buttons {
      flex-direction: column;
    }
  
    .link-btn {
      width: 100%;
      text-align: center;
    }
  }
  