/* src/components/ComplaintDetails.css */

.complaint-details-container {
    padding: 20px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: contain; /* Cover the circle with the image */
  }
  
  .link-btn {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: rgb(2, 51, 67);
    color: white;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.5s ease;
  }
  
  .link-btn:hover {
    background-color: rgb(171, 215, 105);
  }
  .profile-info {
    flex-grow: 1;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  /* Add responsive styles for mobile devices */
  @media screen and (max-width: 768px) {
    .profile-section {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
    }
  
    .profile-pic {
      width: 150px;
      height: 150px;
      margin: 0; /* Remove margin-right */
    }
  }
  